@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

.tabel {
	padding: 50px;
}

.tampil {
	font-family: 'Montserrat', sans-serif;
}

th {
	text-align: center;
}

.nama {
    font-size: 30px;
    font-weight: 1000;
    padding: 0 0 0 10px;
    float: left;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: #3A5BA0;
    text-decoration: none;
}

.nim {
    font-size: 20px;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: #3A5BA0;
    padding: 0 0 0 10px;
    text-decoration: none;
}

.tampil {
	color: black;
	background-color: white;
}

nav {
    width: 100%;
    height: 80px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 30px;
    position: sticky;
    top: 0;
    background: #FFFFFF;
    z-index: 1;
    border-bottom:1px solid black;
    background-image: url(https://img.freepik.com/free-vector/dynamic-gradient-football-background_23-2149007789.jpg?size=626&ext=jpg&ga=GA1.2.1736273058.1658511126);
    background-size: cover;
}

.nav {
    width: 1349px;
    height: 80px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 30px;
    position: sticky;
    top: 0;
    background: #FFFFFF;
    z-index: 1;
    border-bottom:1px solid black;
    background-image: url(https://img.freepik.com/free-vector/dynamic-gradient-football-background_23-2149007789.jpg?size=626&ext=jpg&ga=GA1.2.1736273058.1658511126);
    background-size: cover;
}

.brand {
    position: sticky;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
}

.navigation li {
    list-style-type: none;
    padding: 15px;
    float: left;
}

.navigation li a {
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

nav li a:hover {
    text-decoration: underline;
}

a.tbl-biru {
    background: #3A5BA0;
    border-radius: 20px;
    margin-top: 20px;
    padding: 10px 15px 10px 15px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}

a.tbl-biru:hover {
    background: #001D6E;
    text-decoration: none;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 45px;
    text-align: center;
    margin-bottom: 20px;
    color: #364f6b;
    width: 100%;
    line-height: 50px;
}